.heart svg {
  width: 100%;
}

.name-wrap {
  background: #ffaebd;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.names {
  flex: 1;
}
